.container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2e51a2, #1b7ac2);
    overflow-y: scroll;
}
.searchBar{
    text-align: center;
    width: 50%;
    margin:5% auto;
}

@media only screen and (max-width: 600px) {
    .searchBar{
        text-align: center;
        width: 80%;
        margin:auto;
    }
  }